/* ==========================================================================
   COMPONENTS/_STYLE-GUIDE.SCSS
   ========================================================================== */
/**
 *
 * These are styles only used for demonstrations on the style guide page.
 *
 */

.style-guide {
    .palette,
    .typography,
    .grouping,
    .text-semantics,
    .tables,
    .forms,
    .buttons,
    footer {
        @include container();
        margin: 0 auto $gutter-width;
        max-width: $max-width;
    }

    .container {
        @include container();
        @include clearfix();
        margin: 0 auto;
        max-width: $max-width;
    }

    .example {
        outline: 1px dashed #ddd;
        margin: 2em;
        padding: 0.5em 0.5em;
    }

    .palette {
        table {
            border-collapse: collapse;
            color: $white;
            width: 100%;

            th {
                text-align: left;
                text-decoration: underline;
            }
            td {
                width: 33%;
            }
        }
    }

    .grid-example {
        @include container();
        @include clearfix();
        margin: 0 auto;
        max-width: $max-width;

        & > div {
            background-color: pink;
            height: 50px;
        }

        .left-nav {
            margin-bottom: $gutter-width;

            @media screen and (min-width: 700px) {
                @include column(3);
            }
        }

        .main-content {
            margin-bottom: $gutter-width;

            @media screen and (min-width: 700px) {
                @include column(9);
                @include push(3);
            }
        }
    
        .pros {
            @include column(6);
            
            margin-bottom: $gutter-width;

            @media screen and (min-width: 700px) {
                @include column(5);
            }
        }

        .cons {
            @include column(6);
            @include push(6);
            
            margin-bottom: $gutter-width;

            @media screen and (min-width: 700px) {
                @include column(7);
                @include push(5);
            }
        }
    } // .grid-example


}