/* ==========================================================================
   MAIN.SCSS
   ========================================================================== */

/**
 *
 * MAIN.CSS & MAIN.MIN.CSS are compiled using the imports from this file.
 *
 * To add new styles and components, import them in the appropriate sections below.
 *
 */

// Helpers
@import "helpers/variables";
@import "helpers/reset";


// Base
@import "base/lists";
@import "base/links";
@import "base/media";
@import "base/grid";
@import "base/fonts";
@import "base/utility";
@import "base/typography";


// Components
@import "components/style-guide"